body {
    background-color: #a7d2cb;
    font-family: "Open Sans", sans-serif;
    color: #560121;
    text-transform: uppercase;
    /* overflow: hidden; */
    padding: 0px 32px;
}

section {
    padding: 1% 2%;
}

.main {
    margin: 0 auto;
    min-width: 100vw;
    min-height: 100vh;
}

.header__wrapper {
    height: 6vh;
    box-shadow: 0px 1px rgb(167, 210, 203, 0.5);
    position: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
    font-size: 0.8em;
}

.popup__button,
.search__panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__button {
    background-color: #c98474;
    width: 20%;
    height: 80%;
    padding: 2px 3px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.header__search {
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 5px;
    border-radius: 4px;
    width: 250px;
    font-size: 14px;
    outline: none;
}

.popup__button:hover {
    transform: scaleX(0.94);
    transition: 500ms ease-in;
}

.search__panel__wrapper {
    background-color: #a2003e;
    width: 30%;
}

.title {
    display: flex;
    justify-content: center;
}

.posts__list__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-bottom: 4px;
    border-radius: 20px;
}

.post__header {
    width: 45%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    background-color: #f2d388;
    margin: 4px;
    margin: 0px 20px;
}

.delete__button {
    width: 40px;
    height: 40px;
    background-color: rgb(251, 0, 0);
    float: left;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post__header:hover {
    width: 50%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.delete__button:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color: rgba(251, 0, 0.4, 0.5);
}

.post__info {
    min-height: 10vh;
    width: 60%;
    font-size: 0.6em;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    background-color: #c98474;
    padding: 1% 0%;
    margin: 4px;
}

.post__info,
.post__header {
    border-radius: 10px;
}

.pagination__wrapper {
    padding-top: 2vh;
    display: flex;
    justify-content: center;
}

.pagination__item {
    border-radius: 50%;
    background-color: #f2d388;
    width: 40px;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
}

.pagination__item:hover {
    transform: scale(0.8);
    transition: 1.2s all-in-ease;
}
